version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "haxorof"
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "centos*"
    assignees:
      - "haxorof"
  # Maintain dependencies for Python PiP (v2.11)
  - package-ecosystem: "pip"
    directory: "/requirements/v2.11"
    schedule:
      interval: "daily"
    assignees:
      - "haxorof"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor", "version-update:semver-major"]
  # Maintain dependencies for Python PiP (v2.12)
  - package-ecosystem: pip
    directory: "/requirements/v2.12"
    schedule:
      interval: daily
    assignees:
      - "haxorof"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor", "version-update:semver-major"]
  # Maintain dependencies for Python PiP (v2.13)
  - package-ecosystem: pip
    directory: "/requirements/v2.13"
    schedule:
      interval: daily
    assignees:
      - "haxorof"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor", "version-update:semver-major"]
