version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "haxorof"
  # Maintain dependencies for Docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "haxorof"
  # Maintain dependencies for Python PiP (v2.14)
  - package-ecosystem: pip
    directory: "/requirements/v2.14"
    schedule:
      interval: daily
    assignees:
      - "haxorof"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor"]
  # Maintain dependencies for Python PiP (v2.15)
  - package-ecosystem: pip
    directory: "/requirements/v2.15"
    schedule:
      interval: daily
    assignees:
      - "haxorof"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor"]
  # Maintain dependencies for Python PiP (v2.16)
  - package-ecosystem: pip
    directory: "/requirements/v2.16"
    schedule:
      interval: daily
    assignees:
      - "haxorof"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor", "version-update:semver-major"]
